styless.css
/* Gaya untuk halaman login */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #008000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
}

.btn:hover {
    background-color: #003580;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    margin-top: 20px;
}
